includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:
  level: 7
  paths:
    - app
    - routes
    - database
  tmpDir: storage/phpstan
  checkMissingIterableValueType: false
  reportUnmatchedIgnoredErrors: false
